body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

header {
  width: 100%;
  padding: 10px 0;
}

.name {
display: flex;
justify-content: flex-start;
color: aqua;
font-family: 'Montserrat';
text-shadow: 0px 0px 9px aqua;
}