body {
  margin: 0%;
  background: #000;
}

h2 {
  color: #ffffff;
  font-family: 'Roboto Mono';
}

h3 {
  color: white;
  font-family: 'Roboto Mono';
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(30, 30, 30);
}

.name {
  display: flex;
  justify-content: flex-start;
  color: aqua;
  text-decoration: none;
  text-shadow: 0px 0px 9px aqua;
  margin: 25px;
}

.name a {
  display: flex;
  justify-content: flex-start;
  color: aqua;
  text-decoration: none;
  text-shadow: 0px 0px 9px aqua;
  font-family: 'Montserrat';
}

.navbar {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 18px;
}

.navbar :hover {
  color: aqua;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin: 0 15px;
}

.intro-container {
  display: flex;
  justify-content: space-evenly;
}

.left-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  background-color: #333;
  padding: 20px 25px;
  border: 3px solid aqua;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat';
  margin-top: 250px;
}

.opening {
  display: flex;
  margin-bottom: 250px;
}

.contact-link {
  text-decoration: none;
  color: aqua;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: stretch;
}

.email-img {
  width: 9vh;
  height: 6%;
}

.about-opening {
  margin-top: 150px;
  margin-left: 100px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-top: 200px;
}

.info-box {
  border: 3px solid #2efcff;
  border-radius: 10px;
  padding: 25px;
  background-color: #333;
  width: 35%;
  height: 300px;
  color: white;
  font-family: 'Roboto Mono';
}

.languages-opening {
  display: flex;
  margin-left: 100px;
}

.computer-languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.languages {
  width: 25vh;
  height: 6%;
}

.computer-languages h2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects-opening {
  display: flex;
  margin-top: 150px;
  margin-left: 100px;
}

.project-text-box p {
  border: 3px solid #2efcff;
  border-radius: 10px;
  padding: 25px;
  background-color: #333;
  margin: 40px;
  color: white;
  font-family: 'Roboto Mono';
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.card {
  background-color: #333;
  border: 2px solid #22d3ee;
  border-radius: 14px;
  padding: 20px;
  color: white;
  font-family: 'Roboto Mono';
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 18px;
}


@media (max-width: 900px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .Contact {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .Contact {
    grid-template-columns: 1fr;
  }
}

.contact-opening {
  display: flex;
  margin-top: 150px;
  margin-left: 100px;
}

.contact {
  margin-left: auto;
  margin-right: 120px;
  margin-top: 80px;
  width: 520px;
  background-color: #333;
  border: 2px solid aqua;
  border-radius: 14px;
  padding: 30px;
  font-family: 'Roboto Mono';
}

.input-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-group label {
  margin-bottom: 6px;
  color: white;
  font-family: 'Roboto Mono';
}

.input-group input {
  background-color: #1e1e1e;
  border: none;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-family: 'Roboto Mono';
}

.input-group textarea {
  background-color: #1e1e1e;
  border: none;
  height: 160px;
  border-radius: 8px;
  padding: 10px;
  color: white;
  font-family: 'Roboto Mono';
}

.submit-button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
  background-color: aqua;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  font-family: 'Roboto Mono';
  cursor: pointer;
}