body {
  margin: 0%;
  background: #000;
}

h2 {
  color: #ffffff;
  font-family: 'Roboto Mono';
}

h3 {
  color: white;
  font-family: 'Roboto Mono';
}

header {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(30, 30, 30);
}

.name {
  display: flex;
  justify-content: flex-start;
  color: aqua;
  text-decoration: none;
  text-shadow: 0px 0px 9px aqua;
  margin: 25px;
}

.name a {
  display: flex;
  justify-content: flex-start;
  color: aqua;
  text-decoration: none;
  text-shadow: 0px 0px 9px aqua;
  font-family: 'Montserrat';
}

.navbar {
  display: flex;
  justify-content: center;
  color: white; 
  text-decoration: none;
  font-family: 'Montserrat';
}

.navbar a {
  color: white;              
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 18px;
}

.navbar :hover {
  color: aqua;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline;
  margin: 0 15px;
}

.intro-container{
  display: flex;
  justify-content: space-evenly;
}

.left-box {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
  background-color: #333;
  padding: 20px 25px;
  border: 3px solid aqua;
  border-radius: 10px;
  color: white;
  font-family: 'Montserrat';
  margin-top: 250px;
}

.opening {
  display: flex;
  margin-bottom: 250px;
}

.contact-link {
  text-decoration: none;
  color: aqua;
}

.footer-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: stretch;
}

.email-img{
  width: 9vh;
  height: 6%;
}

.about-opening{
  margin-top: 200px;
  margin-left: 100px;
}

.boxes{
  display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.info-box {
  border: 3px solid #2efcff;
  border-radius: 10px;
  padding: 25px;
  max-width: 480px;
  background-color: #333;
}